.container {
        margin-top: 50px;
        display: flex;
        display-direction: row;
}

.profile-picture img {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        margin-left: -100px
}

.info {
        color: white;
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

.info-div1 {
        background-color: #1C1B23;
        font-size: xx-large;
        border: 0.5px solid #3498db;
        border-radius: 10px;

        height: 80px;
        width: 400px;
        text-align: center;
        /* Center the text horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100px;

}

.info-div2 {
        background-color: #1C1B23;
        border: 0.5px solid #db343f;
        border-radius: 10px;
        height: 300px;
        font-size: large;
        width: 600px;
        margin-left: 100px;
        padding:20px;
        
}

.info-div2 .title {
        font-size: xx-large;
        text-align: center;
        text-decoration: underline;
        text-decoration-skip-ink: auto; /* This property helps avoid the underline being too close to the text */
        text-underline-offset: 8px;
}

.info-div2 .description {
        text-align: center;
        color: #8B8A90;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
}

.info-div3 {
        background-color: #1C1B23;
        font-size: xx-large;
        border: 0.5px solid #3498db;
        border-radius: 10px;
        height: 80px;
        width: 200px;

        text-align: center;
        /* Center the text horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100px;

}

.container {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
      }
      
      /* Media Query for Smaller Screens */
      @media (max-width: 768px) {
        .container {
          flex-direction: column;
        }
        .profile-picture{
                display: flex;
                align-items: center;
                justify-content: center;
        }
      
        .profile-picture img {
          width: 80%; /* Adjust to fit the container */
          height: 300px;
          border-radius: 50%;
          margin-left: 0px;
          margin-bottom: 30px;
        }
      
        .info {
          margin-left: 0; /* Adjust margin for smaller screens */
          
        }
      
        .info-div1 {
                align-self: center;
          width: 95%; /* Adjust width for smaller screens */
          margin-left: 0; /* Remove margin for smaller screens */
        }
      
        .info-div2 {
                align-self: center;

          width: 95%; /* Adjust width for smaller screens */
          height: auto;
          margin-left: 0; /* Remove margin for smaller screens */
          padding: 10px; /* Adjust padding for smaller screens */
          margin-top:10px;
        }
      
        .info-div3 {
                align-self: center;
          width: 95%; /* Adjust width for smaller screens */
          margin-left: 0; /* Remove margin for smaller screens */
          margin-top:10px;
        }
      }
      