.projects {
      margin-left: 11vh;
      margin-right: 11vh;
      margin-top: 15vh;
}

.project-card {
      width: 44.2vh;
      background-color: #1C1B23;
      margin: 1vh;
      transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
      .projects {
            margin-left: 0;
            margin-right: 0;
      }

      .project-card {
            background-color: #1C1B23;
            width: 37vh;
      }
}


.tags {
      border-radius: 5px;
      color: #8B8A90;
      font-size: small;
      background-color: #14131A;
      width: auto;
      height: auto;
      padding: 5px;
      border-width: 0.5px;
      border-left-color: red;
      border-style: solid;
      transform: scale(1.05);
}

.card-img-top {
      max-height: 23vh;
      min-height: 20vh;
      padding: 10px 10px 0px 10px;
}

.card:hover {
      /* border:1px solid #d6051a; */
      background-color: red;
      border-width: 0.5px;
      border-right-color: #5aabe0;
      border-left-color: red;
      border-top-color: wheat;
      border-bottom-color: green;
      border-style: solid;
      box-shadow: 0px 10px 20px rgb(66, 66, 66);
      transform: scale(1.05);
}

.tags:hover {
      border-width: 0.5px;
      border-left-color: green;
      border-style: solid;
      box-shadow: 0px 4px 10px rgb(66, 66, 66);
}