.experiences {
        /* width: 100vh; */
        display: flex;
        flex-direction: row;
        margin-top: 130px;
        margin-bottom: 20px;
}

.work-card {
        width: auto;
        background-color: #1C1B23;
        margin-left: 5vh;
        padding: 7vh;
        border-radius: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;

        border-width: 0.5px;
        border-right-color: #5aabe0;
        border-left-color: red;
        border-top-color: wheat;
        border-bottom-color: green;
        border-style: solid;
        box-shadow: 0px 10px 20px rgb(66, 66, 66);
}
.edu-card{
        width: auto;
        background-color: #1C1B23;
        margin-left: 5vh;
        padding: 7vh;
        border-radius: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;

        border-width: 0.5px;
        border-right-color: #5aabe0;
        border-left-color: red;
        border-top-color: wheat;
        border-bottom-color: green;
        border-style: solid;
        box-shadow: 0px 10px 20px rgb(66, 66, 66);
}

@media only screen and (max-width: 1200px) {
        .experiences{
                display: flex;
                flex-direction: column;
                gap: 80px;
                width: 100%;
        }
        .work-card {
                margin:15px;
                align-self: center;
                width: auto;
                padding: 40px;

        }
        .edu-card{
                margin:15px;
                align-self: center;
                width: auto;
                padding: 40px;
        }
}